<p>
  Together with the advancement of new tools and techniques, and
  the availability of large datasets in different research domains, 
  a solid understanding of common scripting languages and version 
  control systems is becoming more and more important for many researchers. 
  Having the knowledge and skills on how to use tools and techniques to 
  analyze data efficiently, to preserve research output and to collaborate 
  with peers benefit every research domain. So its important to close the 
  gap between researchers and the know-how for new tools and techniques. 
  <a href="{{site.swc_site}}">Software Carpentry</a> aims to provided this support. 
  It is an interactive workshop including sessions from concepts to practice on 
  topics that can be used in many research domain. The sessions are organized 
  in a friendly environment, where people can learn from each other and share 
  experience. Participants also get support throughout the whole sessions.
</p>
<!--<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>-->
